{% extends "base.html" %}
{% load static %}

<!-- Contact form code modified from https://www.ordinarycoders.com/blog/article/build-a-django-contact-form-with-email-backend -->
{% block content %}
<div class="container mb-5">
        <div class="row">
            <div class="col text-center">
                <hr>
                <h2 class="mb-4 page-title">Contact</h2>
                <hr>
            </div>
        </div>
</div>
<!--Contact form-->
<div class="container mb-5">
	<div class="row">
        <div class="col-12">
            
            <h4 class="text-center mb-4">Feel free to contact us if you have any questions</h4>
            <p class="text-center">
                Please enter your name, email address and a message below and we'll be in touch as soon as possible!  
            </p>
            <form method="post">
            {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-dark border-0" type="submit">Submit</button>
            </form>
        </div>    
    </div>
</div>    

{% endblock %}