{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid h-80">
        <div class="row h-80">
            <div class="col-4 offset-6 offset-md-8">
                <h1 class="welcome">
                    Welcome to <br>Gift Shack!
                </h1>
                <div class="my-3">
                    <h4>
                        <a href="#" class="browse-btn btn btn-lg shadow"><i class="fas fa-gift"></i>  Browse Gifts</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
