/* Code used from Boutique Ado mini project */

.profile-form-input {
    border-color: #000;
}

.profile-form-input::placeholder {
    color: #afbcc9;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #afbcc9;
}

.order-history {
    max-height: 416px; 
    overflow-y: auto;
}
