body {
    background: url('/media/home_hero_left.png') no-repeat center center fixed;
    background-size: cover;
    color: rgb(27, 26, 26);
    font-family: 'Barlow';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.btn {
    background-color: #269ccc;
    color: white;
}

.cart-head-text {
    color: rgb(27, 26, 26);
}

.account-head-text {
    color: rgb(27, 26, 26);
}

.fa-user-circle:before {
    color: #269ccc;
}

.fa-shopping-cart:before {
    color: #269ccc;
}

.banner {
    color: white;
}

.welcome {
    margin-top: 320px;
    font-size: 40px;
}

.navbar-brand {
    font-size: 30px;
    color: #269ccc!important;
}

.nav-link {
    font-size: 20px;
}

.account-icons{
    margin-top: 20px;
}

/* Media Queries */

@media only screen and (max-width: 540px) {
  .welcome {
    margin-top: 80px;
    font-size: 30px;
  }
}